@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Inter;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
}

.page {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.contentBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 2% 2% 2% 1%;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    min-height: 90%;
    min-width: 500px;
    margin-left: 220px;
    flex-grow: 1;
    transition: width 0.3s ease, margin-left 0.3s ease;
}

.page.sidebar-collapsed .contentBox {
    margin-left: 80px;
}

.titleBar {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding-left: 1%;
    margin-top: 20px;
    align-items: center;
}

.chatBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: none;
    border-radius: 5px;
    background-color: white;
    flex-grow: 1;
    transition: width 0.3s ease, margin-left 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    height: 90vh;
}

.divider {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    overflow: hidden;
    margin-top: 20px;
}

.chatList {
    width: 30%;
    border-top: 2px solid #d9d9d9;
    border-right: 2px solid #d9d9d9;
}

.chatHalf {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
}

.chatTitle {
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid #d9d9d9;
    border-top: 2px solid #d9d9d9;
    cursor: pointer;
}

.title {
    padding-left: 1%;
}

.chatHistory {
    flex-grow: 1;
    overflow-y: scroll;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
}

.sendBar {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

textarea {
    height: 30px;
    width: 90%;
    margin-left: 1%;
    margin-right: 1%;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    padding-left: 1%;
    line-height: 30px;
    resize: none;
    overflow: hidden;
}

#sendMessage {
    height: 30px;
    width: 100px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
    font-weight: bold;
    background-color: #04aa6d;
    color: white;
    padding: 0px 15px 0px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

#sendMessage:hover {
    background-color: #45a049;
    transform: scale(1.1);
}

.chatSelection li {
    cursor: pointer;
    list-style-type: none;
}

.chatSelection li:hover {
    width: 101%;
    background-color: #f2f2f2;
}

.chatSelection a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.chatLink {
    display: block;
    padding: 15px;
    width: 100%;
    text-decoration: none;
    padding-left: calc(1% * (100/30));
    color: inherit;
}

.chatLink.active {
    background-color: #e6f9ff;
}

.userName {
    padding-right: 2%;
}

.otherName {
    padding-left: 2%
}

.userMessage {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.otherMessage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.userMsgContent {
    display: flex;
    align-items: center;
    padding: 15px 15px 15px 15px;
    max-width: 200px;
    border: none;
    border-radius: 30px;
    background-color: #e6f9ff;
    min-height: 30px;
    cursor: pointer;
}

.otherMsgContent {
    display: flex;
    align-items: center;
    padding: 15px 15px 15px 15px;
    max-width: 200px;
    border: none;
    border-radius: 30px;
    background-color: #d9d9d9;
    min-height: 30px;
}

#messageContextMenu {
    position: absolute;
    z-index: 1000;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#messageContextMenu ul {
    list-style: none;
    padding: 8px;
    margin: 0;
}

#messageContextMenu li {
    padding: 5px;
    cursor: pointer;
}

.pinnedBox {
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 999;
    max-height: 300px;
    width: 500px;
    overflow-y: auto;
}

.pinnedBox ul {
    list-style: none;
    padding: 0;
}

.pinnedBox li {
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pinnedBox li:hover {
    background-color: #f0f0f0;
}

.unpinButton {
    height: 30px;
    width: 100px;
    margin-right: 5%;
    margin-left: auto;
    font-size: 16px;
    background-color: red;
    color: white;
    padding: 0px 15px 0px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.unpinButton:hover {
    background-color: #cc0000;
    transform: scale(1.1);
}