@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: Inter;
    box-sizing: border-box;
}

.sidebar {
    width: 200px;
    background: linear-gradient(to bottom, #2c3e50, #34495e);
    color: white;
    height: 100vh;
    transition: width 0.3s ease, background 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.btnContainer{
    margin-top: 1.5vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
}

.toggle-btn {
    display: flex;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    padding: 0;
    margin:0;
    width:50px;
    min-width: 50px;
    height:50px;
    align-items: center;
    justify-content: center;
}

.menu-icon {
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1);
    transition: transform 0.3s ease, filter 0.3s ease;
    transform-origin: center center;
    transform: rotate(90deg);
}

.icon{
    width: 30px;
    height: 30px;
}

.brand{
    font-size: 40px;
    font-weight: bold;
}

.logoContainer{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.logo{
    width: 70px;
    height: 70px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar a {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    padding: 15px 20px;
    border-radius: 5px;
    align-items: center;
    margin-bottom: 5px;
    transition: background-color 0.2s ease, transform 0.1s ease;
}

.sidebar a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: translateX(5px);
}

.sidebar span{
    padding-left: 10px;
    flex-grow: 1;
}

.sidebar ul li {
    max-height: 60px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sidebar.collapsed {
    width: 60px;
    background: linear-gradient(to bottom, #2c3e50, #34495e);
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar.collapsed li span {
    display: none;
}

.sidebar.collapsed .toggle-btn {
    transform: rotate(180deg);
    background-color: transparent;
}

.sidebar.collapsed .menu-icon {
    transform: rotate(180deg);
}

.sidebar.collapsed .brand{
    display: none;
}

.sidebar.collapsed .logo{
    display: none;
}

.sidebar.collapsed a{
    padding-left: 10px;
    justify-content: center;
}

.sidebar a.active {
    background: linear-gradient(to right, #009664, #04aa6d);
    font-weight: bold;
    border-radius: 5px;
    box-shadow: inset 3px 0 0 #f0f0f0;
}

.sidebar.collapsed .active {
    background-color: #04aa6d;
    box-shadow: none;
}

.no-transition {
    transition: none !important;
}